<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.padana.ftpsync">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".simple.activities.GalleryActivity"></activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.remote_explorer.RemoteExplorerActivity"
            android:parentActivityName=".activities.ftp_connections.FtpConnectionsActivity" />
        <activity
            android:name=".activities.remote_tree.RemoteTreeActivity"
            android:parentActivityName=".activities.ftp_connections.FtpConnectionsActivity" />
        <activity
            android:name=".activities.sync_data_view.ViewSyncDataActivity"
            android:label="@string/title_activity_view_sync_data"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.SyncDataService"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".activities.ChooseLocalFolder"
            android:label="@string/title_activity_choose_local_folder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LinkFolders"
            android:label="@string/title_activity_link_folders"
            android:parentActivityName=".activities.local_explorer.LocalExplorerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.padana.ftpsync.activities.local_explorer.LocalExplorerActivity" />
        </activity>
        <activity
            android:name=".activities.ftp_explorer.FtpExplorerActivity"
            android:label="@string/title_activity_ftp_explorer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ftp_connections.FtpConnectionsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ftp_connections.AddFtpConnectionActivity"
            android:label="@string/title_activity_add_ftp_conenctino"
            android:parentActivityName=".activities.ftp_connections.FtpConnectionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.padana.ftpsync.activities.ftp_connections.FtpConnectionsActivity" />
        </activity>
        <activity
            android:name=".activities.local_explorer.LocalExplorerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>